<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

<h1>Christian Gibbons's Projects</h1>


<table>
  <tr>
    <th>[No.]</th>
    <th class=thleft>[Project]</th>
    <td rowspan ="20" width = "50%"><span id=youtube></span></td>
  <tr>
    <th colspan ="2">Robotics </th>
  </tr>
  <tr>
    <td>1. </td>
    <td><span id='p1' class='link'>Diff Drive Robot Basic Movement</span>
      <%= link_to "(github repo)", "https://github.com/Christian-Gibbons/ece-499-590-assignment1-fall-2014-Gibbons", target: "_blank" %>
    </td>
  </tr>
  <tr>
    <td>2. </td>
    <td><span id=p2 class=link>Diff Drive Robot with HID Controller</span>
      <%= link_to "(github repo)", "https://github.com/Christian-Gibbons/ece499-590-hw3-fall-2014-Gibbons", target: "_blank" %></td>
  </tr>
  <tr>
    <td>3. </td>
    <td><span id=p3 class=link>Balance on One Leg with Hubo</span>
      <%= link_to "(github repo)", "https://github.com/Christian-Gibbons/hubo-monoped-balance/tree/midterm", target: "_blank" %></td>
  </tr>
  <tr>
    <td>4. </td>
    <td><span id=p4 class=link>Object Tracking with openCV</span>
      <%= link_to "(github repo)", "https://github.com/Christian-Gibbons/ece-499-590-hw5-fall-2014-Gibbons", target: "_blank" %></td>
  </tr>
  <tr>
    <td>5. </td>
    <td><span id=p5 class=link>Object Following with openCV</span>
      <%= link_to "(github repo)", "https://github.com/Christian-Gibbons/ece-499-590-assignment2-fall-2014-Gibbons", target: "_blank" %></td>
  </tr>
  <tr>
    <td>6. </td>
    <td><span id=p6 class=link>Depth Tracking with Stereovision in openCV</span>
      <%= link_to "(github repo)", "https://github.com/Christian-Gibbons/ece-499-590-hw6-fall-2014-Gibbons", target: "_blank" %></td>
  </tr>
  <tr>
    <td>7. </td>
    <td><span id=p7 class=link>Statically Stable Walking with Hubo</span>
      <%= link_to "(github repo)", "https://github.com/Christian-Gibbons/hubo_walk/tree/master", target: "_blank" %></td>
  </tr>
  <tr>
    <td>8. </td>
    <td><span id=p8 class=link>Object Following with openCV in the Real World</span>
      <%= link_to "(github repo)", "https://github.com/arctiksilver/ECE-590/tree/InClassAssignment3", target: "_blank" %></td>
  </tr>
  <tr>
    <td>9. </td>
    <td><span id=p9 class=link>Face Tracking/Following with openCV</span>
      <%= link_to "(github repo)", "https://github.com/mreyeslo1/hw8", target: "_blank" %></td>
  </tr>
  <tr>
    <td>10. </td>
    <td><span id=p10 class=link>Hubo walking by Android Smartphone command</span>
      <%= link_to "(github repo)", "https://github.com/mreyeslo1/termproject", target: "_blank" %></td>
  </tr>
  <tr>
    <th colspan="2">Games </th>
  </tr>
  <tr>
    <td>1. </td>
    <td><span id=g1 class=link>Susie's Summer Home</span>
      <%= link_to "Global Game Jam page", "http://archive.globalgamejam.org/2012/susies-summer-home", target: "_blank" %></td>
  </tr>
  <tr>
    <td>2. </td>
    <td><span id=g2 class=link>Dog Catcher</span>
      <%= link_to "(github repo)", "https://github.com/christian-gibbons/digital-template", target: "_blank" %></td>
  </tr>
  <tr>
    <td>3. </td>
    <td><span id=g3 class=link>Crazy Cat Lady</span>
      <%= link_to "(github repo)", "https://github.com/christian-gibbons/box-o-kittens", target: "_blank" %></td>
  </tr>
  <tr>
    <td>4. </td>
    <td><span id=g4 class=link>Reluctant Ball Player</span>
      <%= link_to "(github repo)", "https://github.com/christian-gibbons/reluctant-protagonist", target: "_blank" %></td>
  </tr>
  <tr>
    <th colspan="2">Microcontroller</th>
  </tr>
  <tr>
    <td>1. </td>
    <td><span id=m2 class=link>RPN Calculator with Matrix Keypad and OLED display</span></td>
  </tr>
  <tr>
    <td>2. </td>
    <td><span id=m3 class=link>Sprite display and movement with OLED, touchpad, and I2C</span></td>
  </tr>
  <tr>
    <td>3. </td>
    <td><span id=m4 class=link>Priority Preemptive Task Scheduler</span></td>
  </tr>
  <tr>
    <td rowspan="20" colspan="0"></td> 
    <!-- invisible row expands if the column on the right gets too big for the table to preserve formatting. -->
  <tr>
  
</table>

<br>


